{% extends "admin/change_form.html" %}
{% load static %}
{% load i18n %}


{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'select2-4.0.0/select2.min.css' %}">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'select2-4.0.0/select2.full.min.js' %}"></script>
{% endblock %}

{% block form_top %}
    <p>The autocomplete field searches by name or crsid in the lookup service of the University of Cambridge.</p>
{% endblock %}

{% block after_field_sets %}
<script type="text/javascript">

    /**
     * ID of the last AJAX search request we sent.
     */
    searchId_u = 0;

    $(document).ready(function() {
        $("#id_username").select2({
            placeholder: "Search for a University of Cambridge user",
            minimumInputLength: 3,
            multiple: false,
            ajax: {
                url: "{%  url 'ucamlookup_find_people' %}",
                dataType: 'json',
                data: function (params) {
                    return {
                        query: params.term,
                        searchId_u: ++searchId_u
                    };
                },
                processResults: function (data, page) {
                    if (data.searchId_u != searchId_u)
                        return;
                    return {results: data.persons};
                }
            },
            templateResult: function(data) {
                if (data.loading) return data.text;
                return data.visibleName+" ("+data.id+") ";
            },
            templateSelection: function(data) {
                if (typeof data.visibleName === "undefined") return data.text;
                return data.visibleName+" ("+data.id+") ";
            },
            dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
            width: '50%'
        });
    });
</script>
{% endblock %}
