{% load dictionary_tag %}
<script>
    /**
     * ID of the last AJAX search request we sent.
     */
    searchId_u = 0;

    $(document).ready(function() {
        $("#{{ input_tag_id }}").select2({
            placeholder: "Search for user",
            minimumInputLength: 3,
            multiple: {{ multiple }},
            ajax: {
                url: "{%  url 'ucamlookup_find_people' %}",
                dataType: 'json',
                data: function (params) {
                    return {
                        query: params.term,
                        searchId_u: ++searchId_u
                    };
                },
                processResults: function (data, page) {
                    if (data.searchId_u != searchId_u) return;
                    return {results: data.persons};
                }
            },
            templateResult: function(data) {
                if (data.loading) return data.text;
                return data.visibleName+" ("+data.id+") ";
            },
            templateSelection: function(data) {
                if (typeof data.visibleName === "undefined") return data.text;
                return data.visibleName+" ("+data.id+") ";
            }
        });
    });
</script>
