{% load dictionary_tag %}
<script>
    /**
     * ID of the last AJAX search request we sent.
     */
    searchId_g = 0;

    $(document).ready(function() {
        $("#{{ input_tag_id }}").select2({
            placeholder: "Search for groups",
            minimumInputLength: 3,
            multiple: {{ multiple }},
            ajax: {
                url: "{%  url 'ucamlookup_find_groups' %}",
                dataType: 'json',
                data: function (params) {
                    return {
                        query: params.term,
                        searchId_g: ++searchId_g
                    };
                },
                processResults: function (data, page) {
                    if (data.searchId_g != searchId_g) return;
                    return {results: data.groups};
                }
            },
            templateResult: function(data) {
                if (data.loading) return data.text;
                return data.name+" ("+data.id+") ";
            },
            templateSelection: function(data) {
                if (typeof data.name === "undefined") return data.text;
                return data.name+" ("+data.id+") ";
            },
            id: function(group) {
                return group.groupid;
            }
        });
    });
</script>
