Source: django-ucamlookup
Maintainer: UIS Information Systems Group, University of Cambridge <information-systems@ucs.cam.ac.uk>
Uploaders: Abraham Martin <amc203@cam.ac.uk>,
	   Matthew Vernon <mcv21@cam.ac.uk>
Section: python
Priority: optional
Build-Depends: python-setuptools, python-all (>= 2.6.6-3), debhelper (>=9),
  python-django (>=1.6), python-markdown, dh-python
Standards-Version: 3.9.4

Package: python-django-ucamlookup
Architecture: all
Depends: python-django (>=1.6), python-requests, python-openssl, ${misc:Depends}, ${python:Depends}
Description: University of Cambridge Web Authentication module for Django
 This package provides a django authentication back-end to the
 University of Cambridge Web Authentication system.
